#order
    .imgbox
        width: 600px
    .textbox
        h1
            font-weight: 700
            font-size: 60px
            color: #36b3bd
        h5
            font-size: 20px
            color: #676f8b
            margin: 25px 75px 50px 0
            line-height: 1.3
        .btn
            background-color: #38b6c1
            color: #ffff
            font-size: 20px
            border-radius: 5px
            padding: 13px 34px

    @media (max-width: 991px)
        .textbox
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            h1 
                text-align: center
            h5 
                text-align: center

    @media (min-width: 300px)
        .imgbox
            width: 250px
        .textbox
            h1 
                font-size: 40px
            h5 
                font-size: 18px
    @media (min-width: 586px)
        .imgbox
            width: 400px
        .textbox
            h1 
                font-size: 45px
            h5 
                font-size: 20px
            
    @media (min-width: 768px)
        .imgbox
            width: 500px
        .textbox
            h1 
                font-size: 50px
            h5 
                font-size: 20px

    @media (min-width: 992px)
        .imgbox
            width: 600px
        .textbox
            h1 
                font-size: 60px
            h5 
                font-size: 20px
