#support
    .textbox
        max-width: 100%
        max-height: 100%
        h1
            font-weight: 700
            font-size: 60px
            color: #ffff
            margin: 0 70px 0 40px
            line-height: 1.1
        span
            color: #24667283
        .btn
            font-size: 22px
            color: #38b6c1
            background-color: #ffff
            padding: 10px 30px
            margin: 30px 0 0 40px
    .imgbox
        max-width: 100%
        max-height: 100%
    .bgc
        background-color: #35b6c1
    @media (max-width: 991px)
        .imgbox
            height: 75%
        .bgc
            padding: 90px 0
            margin: -20px 0
        .textbox
            h1
                font-size: 40px
    @media (max-width: 768px)
        .imgbox
            height: 90%
        .bgc
            margin: -20px 0
            padding: 90px 0
        .textbox
            h1
                font-size: 40px
    @media (max-width: 576px)
        .imgbox
            height: 100%
        .bgc
            padding: 30px 0
        .textbox
            h1
                font-size: 40px
   
