body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}
header .imgbox {
  width: 40px;
}
header nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header nav .home-color {
  color: #74bebc;
}

#beautiful {
  background-clor: #f4fafb;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
  margin-right: 80px;
}
#beautiful .box span {
  color: #37b7c3;
}
#beautiful .box h5 {
  font-size: 20px;
  color: #676f8b;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  background-color: #38b6c1;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 13px 30px;
}
#beautiful .box .imgbox {
  width: 120px;
  margin: 20px 0 10px;
}
#beautiful .box h4 {
  font-size: 20px;
}
#beautiful .imgbox {
  width: 520px;
}
@media (max-width: 300px) {
  #beautiful .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #beautiful .box h1 {
    font-size: 38px;
    margin: -60px 0;
    text-align: center;
  }
  #beautiful .box h5 {
    font-size: 20px;
    text-align: center;
    margin: 70px 0;
  }
  #beautiful .box .btn {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: -40px;
  }
  #beautiful .box h4 {
    font-size: 18px;
  }
  #beautiful .box .imgbox {
    width: 100px;
    margin: 20px 0 10px;
  }
  #beautiful .imgbox {
    width: 250px;
    margin-left: 10px;
  }
}
@media (min-width: 300px) {
  #beautiful .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #beautiful .box h1 {
    font-size: 38px;
    margin: -60px 0;
    text-align: center;
  }
  #beautiful .box h5 {
    font-size: 20px;
    text-align: center;
    margin: 70px 0;
  }
  #beautiful .box .btn {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: -40px;
  }
  #beautiful .box h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  #beautiful .box .imgbox {
    width: 100px;
    margin: 20px 0 10px;
  }
  #beautiful .imgbox {
    width: 250px;
    margin-left: 10px;
  }
}
@media (min-width: 586px) {
  #beautiful .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #beautiful .box h1 {
    font-size: 53px;
  }
  #beautiful .box h5 {
    font-size: 20px;
    text-align: center;
    margin: 70px 40px;
  }
  #beautiful .box .imgbox {
    width: 120px;
    margin: 20px 0 10px;
  }
  #beautiful .imgbox {
    width: 400px;
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  #beautiful .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #beautiful .box h1 {
    font-size: 60px;
  }
  #beautiful .box h5 {
    font-size: 20px;
    text-align: center;
    margin: 70px 40px;
  }
  #beautiful .box .imgbox {
    width: 120px;
    margin: 20px 0 10px;
  }
  #beautiful .imgbox {
    width: 470px;
  }
}
@media (min-width: 992px) {
  #beautiful .box {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  #beautiful .box h1 {
    text-align: start;
    font-weight: 700;
    font-size: 68px;
    margin-right: 80px;
  }
  #beautiful .box h5 {
    font-size: 20px;
    text-align: start;
    margin: 70px 75px 50px 0;
  }
  #beautiful .box .imgbox {
    width: 120px;
    margin: 20px 0 10px;
  }
  #beautiful .box .btn {
    font-size: 20px;
    padding: 13px 30px;
  }
  #beautiful .imgbox {
    width: 520px;
    margin: 0 -70px;
  }
}

#thehome {
  background-color: #f1f8f9;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
  width: 400px;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
#thehome .imgbox {
  width: 520px;
}
@media (max-width: 991px) {
  #thehome .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #thehome .textbox h1 {
    text-align: center;
  }
  #thehome .textbox h5 {
    text-align: center;
  }
  #thehome .imgbox {
    margin-top: 30px;
  }
}
@media (min-width: 300px) {
  #thehome .textbox {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #thehome .textbox h1 {
    font-size: 40px;
  }
  #thehome .textbox h5 {
    font-size: 18px;
  }
  #thehome .imgbox {
    width: 250px;
  }
}
@media (min-width: 586px) {
  #thehome .textbox {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #thehome .textbox h1 {
    font-size: 45px;
  }
  #thehome .textbox h5 {
    font-size: 20px;
  }
  #thehome .imgbox {
    width: 400px;
  }
}
@media (min-width: 768px) {
  #thehome .textbox {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #thehome .textbox h1 {
    font-size: 50px;
  }
  #thehome .textbox h5 {
    font-size: 20px;
  }
  #thehome .imgbox {
    width: 480px;
  }
}
@media (min-width: 992px) {
  #thehome .textbox {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  #thehome .textbox h1 {
    font-size: 60px;
  }
  #thehome .textbox h5 {
    margin: 10px 0 20px 0;
    font-size: 20px;
  }
  #thehome .imgbox {
    width: 520px;
  }
}

#works h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#works .box .imgbox {
  width: 350px;
}
#works .box .textbox {
  padding: 35px 55px;
}
#works .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#works .box .textbox h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}
@media (max-width: 991px) {
  #works .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#browse .textbox {
  width: 500px;
  text-align: center;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browse .textbox h4 {
  font-size: 20px;
  color: rgba(36, 48, 68, 0.5215686275);
  margin: 20px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browse .btnbox .btn {
  font-size: 16px;
  border: 0.5px solid #bdbdbd;
  padding: 15px 46px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .btnbox .bgc {
  background-color: #3cc1d8;
  color: white;
}
#browse .box {
  padding: 30px;
}
#browse .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox {
  text-align: left;
  width: auto;
  margin-left: 20px;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browse .box .textbox .add {
  display: flex;
}
#browse .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
}
#browse .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browse .box .big {
  padding: 17px 53px;
  margin-top: 50px;
}
@media (min-width: 300px) {
  #browse .textbox h1 {
    font-size: 55px;
  }
  #browse .box {
    display: flex;
    flex-direction: column;
  }
  #browse .box .imgbox {
    width: 250px;
  }
  #browse .box .textbox {
    margin-left: -8px;
  }
  #browse .box .textbox .minibox {
    display: flex;
    flex-direction: column;
  }
  #browse .box .textbox .minibox h2 {
    margin-bottom: 10px;
  }
  #browse .btnbox {
    display: flex;
    flex-direction: column;
  }
  #browse .btnbox .btn {
    padding: 15px 106px;
    margin-bottom: 10px;
  }
  #browse .btnbox .bgc {
    background-color: #3cc1d8;
  }
  #browse .big {
    color: white;
    padding: 17px 103px;
    margin-top: 50px;
    background-color: #3cc1d8;
  }
}
@media (min-width: 586px) {
  #browse .textbox h1 {
    font-size: 55px;
  }
  #browse .box {
    display: flex;
    flex-direction: column;
  }
  #browse .box .imgbox {
    width: 300px;
    margin-bottom: 10px;
  }
  #browse .box .textbox .minibox {
    display: flex;
    flex-direction: column;
  }
  #browse .box .textbox .minibox h2 {
    margin-bottom: 10px;
  }
  #browse .btnbox {
    display: flex;
    flex-direction: column;
  }
  #browse .btnbox .btn {
    padding: 15px 106px;
    margin-bottom: 10px;
  }
  #browse .btnbox .bgc {
    background-color: #3cc1d8;
  }
  #browse .big {
    color: white;
    padding: 17px 103px;
    margin-top: 50px;
    background-color: #3cc1d8;
  }
}
@media (min-width: 768px) {
  #browse .textbox h1 {
    font-size: 60px;
  }
  #browse .box {
    display: flex;
    flex-direction: row;
  }
  #browse .box .textbox {
    margin-left: 20px;
  }
  #browse .btnbox {
    display: flex;
    flex-direction: column;
  }
  #browse .btnbox .btn {
    padding: 15px 166px;
    margin-bottom: 10px;
  }
  #browse .btnbox .bgc {
    background-color: #3cc1d8;
  }
  #browse .big {
    color: white;
    padding: 17px 123px;
    margin-top: 50px;
    background-color: #3cc1d8;
  }
}
@media (min-width: 992px) {
  #browse .textbox h1 {
    font-size: 60px;
  }
  #browse .box {
    display: flex;
    flex-direction: row;
  }
  #browse .box .textbox {
    margin-left: 20px;
  }
  #browse .btnbox {
    display: flex;
    flex-direction: row;
  }
  #browse .btnbox .btn {
    padding: 15px 46px;
    margin-bottom: 10px;
  }
  #browse .btnbox .bgc {
    background-color: #3cc1d8;
  }
  #browse .big {
    color: white;
    padding: 17px 123px;
    margin-top: 50px;
    background-color: #3cc1d8;
  }
}

#order .imgbox {
  width: 600px;
}
#order .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
}
#order .textbox h5 {
  font-size: 20px;
  color: #676f8b;
  margin: 10px 0 30px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 13px 34px;
}
@media (max-width: 991px) {
  #order .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #order .textbox h1 {
    text-align: center;
  }
  #order .textbox h5 {
    text-align: center;
  }
}
@media (min-width: 300px) {
  #order .imgbox {
    width: 250px;
  }
  #order .textbox h1 {
    font-size: 40px;
  }
  #order .textbox h5 {
    font-size: 18px;
  }
}
@media (min-width: 586px) {
  #order .imgbox {
    width: 400px;
  }
  #order .textbox h1 {
    font-size: 45px;
  }
  #order .textbox h5 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #order .imgbox {
    width: 500px;
  }
  #order .textbox h1 {
    font-size: 50px;
  }
  #order .textbox h5 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #order .imgbox {
    width: 600px;
  }
  #order .textbox h1 {
    font-size: 60px;
  }
  #order .textbox h5 {
    font-size: 20px;
  }
}

#callour {
  background-color: #f1f8f9;
}
#callour .textbox h1 {
  font-weight: 700;
  font-size: 65px;
  color: #36b3bd;
}
#callour .textbox h5 {
  font-size: 20px;
  color: #676f8b;
  margin: 10px 0 30px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  font-size: 20px;
  padding: 13px 34px;
  background-color: #38b6c1;
  color: white;
}
#callour .imgbox {
  width: 520px;
}
@media (max-width: 991px) {
  #callour .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #callour .textbox h1 {
    text-align: center;
  }
  #callour .textbox h5 {
    text-align: center;
  }
  #callour .imgbox {
    margin-top: 30px;
  }
}
@media (min-width: 300px) {
  #callour .textbox {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #callour .textbox h1 {
    font-size: 40px;
  }
  #callour .textbox h5 {
    font-size: 18px;
  }
  #callour .imgbox {
    width: 250px;
  }
}
@media (min-width: 586px) {
  #callour .textbox {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #callour .textbox h1 {
    font-size: 45px;
  }
  #callour .textbox h5 {
    font-size: 20px;
  }
  #callour .imgbox {
    width: 400px;
  }
}
@media (min-width: 768px) {
  #callour .textbox {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #callour .textbox h1 {
    font-size: 50px;
  }
  #callour .textbox h5 {
    font-size: 20px;
  }
  #callour .imgbox {
    width: 480px;
  }
}
@media (min-width: 992px) {
  #callour .textbox {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  #callour .textbox h1 {
    font-size: 60px;
  }
  #callour .textbox h5 {
    margin: 10px 0 20px 0;
    font-size: 20px;
  }
  #callour .imgbox {
    width: 520px;
  }
}
@media (min-width: 1200px) {
  #callour .textbox {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  #callour .textbox h1 {
    font-size: 60px;
  }
  #callour .textbox h5 {
    margin: 10px 0 30px 0;
    font-size: 20px;
  }
  #callour .imgbox {
    width: 520px;
  }
}

#support .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #35b6c1;
}/*# sourceMappingURL=style.css.map */